html {
  box-sizing: border-box;
  font-size: 1rem;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: #f6f7fb;
  color: #334680;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  border: none;
  font-family: inherit;
  outline: none;
}

input[type='text'] {
  border: none;
  outline: none;
}

input[type='text']::placeholder {
  color: #b9bdcf;
  font-size: 12px;
  line-height: 14px;
}

input[type='checkbox'] {
  height: 18px;
  margin-right: 12px;
  width: 18px;
}

label {
  font-family: 'Poppins', sans-serif;
}
